body {
  background: #eb5c23;
  width: 90%;
  margin: 0 auto;
}

a {
  font-size: 15px;
  color: #000000;
}

ul {
  padding: 0px;
}

li {
  display: inline;
}

nav a {
  padding: 1%;
}

.current {
  font-weight: bold;
}

header {
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #000000;
}

body {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.logo {
  width: 750px;
  margin-left: auto;
  margin-right: auto;
}
.logo {
  width: 50%;
  box-sizing: border-box;
  padding: 20px 0;
  text-align: center;
}

.button {
  /* stylistic */
  width: 50%;
  box-sizing: border-box;
  padding: 20px 0;
  text-align: center;
}

.button {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
