/* google fonts */



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


/* Body */
body {
    font-family: 'Roboto', sans-serif;
    /*overflow-x:hidden; */
    background-color: black;
}


/* Header */
header {
position: absolute;
top: 0;
left: 0;
width: 100%;
display: flex;
justify-content: space-around;
align-items: center;
padding: 15px 20px;
z-index: 10;
background: #0082e6;
}

.logo {

    position: relative;
    text-decoration: none;
    width: 350px;
    height: 110px;
}

.profile-picture {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 3px solid #24b5da;
    position: relative;
}



header .navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;
}

header .navigation li {
    list-style: none;
    margin: 0 10px;
}

header .navigation li a{
color: #fff;
text-decoration: none;
font-weight: 500;
letter-spacing: 1px;
}

header .navigation li a:hover {
    color: #e6008e;
}

.menu-list-item {
    margin: 25px;
    color: #24b5da;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px;
    background: #283538;
    border-radius: 1rem;
    box-shadow: 2px 2px 4px #283538,
    -2px -2px 4px #283538;  
}

.menu-list-item:hover {
    opacity: 1;
    cursor: pointer;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    box-shadow: 6px 6px 6px #24b5da;
}

.menu-list-item.active{
    font-weight: bold;
    font-style: italic;
    font-size: 1rem;
    border: 3px solid #24b5da;
}

header .search {
    position: relative;
    width: 300px;
    height: 40px;
}

header .search input{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
color: #fff;
background: transparent;
outline: none;
border: 1px solid #fff;
border-radius: 4px;
padding: 0 10px 0 45px;
}

.profile-picture {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 3px solid #24b5da;
    position: relative;
}













/* movies */
.banner {
background: #283538;
padding: 200px 100px 100px;
min-height: 10vh;
display: flex;
justify-content: center;


}

.content {
    max-width: 700px;
    text-align: center;
}

.content h1 {
    font-size: 3em;
    color: white;
}

.content h2 {
    font-size: 1em;
    color: white;
}

.content p {
    font-size: 1em;
    color: #fff;
}







.container {
    background-color: black;
    min-height: calc(100vh - 50px);
    color: #010202;
    margin-left: 50px;
    display: flex;
    flex-wrap:wrap ;
    justify-content: center;
    align-items: center;
    
}



.movies {
    display: flex;
    flex-wrap: wrap;
}

.movie {
    padding: 1rem;
    background: #283538;
    border: 3px solid #24b5da;
    border-radius: 1rem;
    justify-content: center;
    align-items:center ;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
    margin: 1rem;
    width: 300px;
    height: 550px;
    box-shadow: 2px 2px 4px #283538,
    -2px -2px 4px #283538;  
}

.movie h1 {
    color: #eee;
}

.movie-img {
    width: 100%;
    height: 70%;
    margin: 7.5px;
    padding: 7.5px;
    border-radius: 1rem;
}

.movie:hover {
    box-shadow: 6px 6px 6px #24b5da;
}

.movie-img {
    width: 100%;
    height: 70%;
    margin: 7.5px;
    padding: 7.5px;
    border-radius: 1rem;
}

.movie-info {
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h2 {
    margin: 7.5px;
    padding: 7.5px;
}


.btn-read-more {
    background-color: #24b5da;
    color: #fff;
    border-radius: 30px;
    text-transform: uppercase;
    padding: 5px 35px;
    text-transform: uppercase;
    font-size: 14px;
    box-shadow: inset 0 0 0 0 rgb(0, 0, 0);
    transition: ease-out 0.5s;
    border: 1px solid #ffffff;
}

  
  .btn-read-more:hover {
    box-shadow: inset 262px 0 0 0 rgb(251, 252, 251),
    6px 6px 6px #24b5da;
    cursor: pointer;
    color: black;
    font-weight: bold;
  }


  /* movies-details */  
  .movie-container {
    margin: 0 auto ;
    padding: 1rem;
    max-width: 600px;
    height: 600px;
    background: #283538;
    border: 3px solid #24b5da;
    border-radius: 1rem;
    justify-content: center;
    align-items:center ;
    display: flex;
    flex-wrap: wrap;
    color: #24b5da;
    box-shadow: 2px 2px 4px #283538,
    -2px -2px 4px #283538;
}

.movie-container h1 {
    font-size: 3rem;
}

.movie-container:hover {
    box-shadow: 6px 6px 6px #24b5da;
}

.pic-container {
    margin: 0 auto ;
    padding: 1rem;
    max-width: 600px;
    background: #283538;
    border: 3px solid #24b5da;
    border-radius: 1rem;
    justify-content: center;
    align-items:center ;
    display: flex;
    flex-wrap: wrap;
    color: #24b5da;
    box-shadow: 2px 2px 4px #283538,
    -2px -2px 4px #283538;
}

.pic-container:hover {
    box-shadow: 6px 6px 6px #24b5da;
}

.image {
    height: 600px;
    width: 600px;
    background-position: center top;
    border: 3px solid black;
    justify-content: center;
    display: flex;
    border-radius: 1rem;
}

.bold{
    font-weight: bold;
    font-size: 1rem;
    margin: 7.5px;
    padding: 7.5px;
    color: #eee;
}

h6 {
    font-weight: bold;
    font-size: 3rem;
    margin: 5px;
    padding: 5px;
    color: #eee;
}

.italic{
    font-size: 1rem;
    margin: 7.5px;
    padding: 7.5px;
    color: #eee;
}

.price{
    font-weight: bold;
    font-size: 1rem;
    margin: 7.5px;
    padding: 7.5px;  
    color: #eee;
}

.btn-buy {
    margin-top: 25px;
    background-color: #24b5da;
    color: #fff;
    border-radius: 30px;
    text-transform: uppercase;
    padding: 5px 35px;
    text-transform: uppercase;
    font-size: 14px;
    box-shadow: inset 0 0 0 0 rgb(0, 0, 0);
    transition: ease-out 0.5s;
    border: 1px solid #ffffff;
  }
  
.btn-buy:hover {
    box-shadow: inset 262px 0 0 0 rgb(251, 252, 251),
    6px 6px 6px #24b5da;
    cursor: pointer;
    color: black;
    font-weight: bold;

  }

.detail-popup{
    background: rgb(0, 0, 0);
    width:50%;
    height: 50%;
    position: absolute;
    top: 200px;
    left: 500px;
    display: none;
    justify-content: center;
    align-items: center;
    color: #24b5da;
    border-radius: 30px;
    border: 1px solid #24b5da;
}

.detail-popup-content {
    height: 85%;
    width: 93%;
    background: #283538;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    border-radius: 30px;
    border: 3px solid #24b5da;
}

.close {
    position: absolute;
    top: -10px;
    right: -10px;
    height: 30px;
    width: 20px;
    border-radius: 50%;
    box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0.75);
    cursor: pointer;
}

.detail-popup-content h1{
    font-size: 16px;
    margin: 20px auto;
    text-align: center;

}

.detail-popup-image {
    width: 100px;
    height: 100px;
}

.detail-flex-info {
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.detail-flex-price {
    padding: 15px;
    margin: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #eee;
}

.detail-flex-button {
    padding: 5px;
    margin: 5px;
}

.btn-cart, .btn-back {
    margin-top: 25px;
    background-color: #24b5da;
    color: #fff;
    border-radius: 30px;
    text-transform: uppercase;
    padding: 5px 35px;
    text-transform: uppercase;
    font-size: 14px;
    box-shadow: inset 0 0 0 0 rgb(0, 0, 0);
    transition: ease-out 0.5s;
    border: 1px solid #ffffff;
}

.btn-cart:hover, .btn-back:hover {
    box-shadow: inset 262px 0 0 0 rgb(251, 252, 251),
    6px 6px 6px #24b5da;
    cursor: pointer;
    color: black;
    font-weight: bold;
  }

  
/*About*/
.about-container {
    
    min-height: calc(100vh - 50px);
    color: #060808;
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 150px;
    color: #eee;

}

.info-container {
    background-color: #283538;
    border: 3px solid rgb(0, 60, 78);
    border-radius: 1rem;
    height: 600px;
    width: 600px;
    color: #24b5da;
    box-shadow: 2px 2px 4px #283538,
    -2px -2px 4px #283538;  
    text-align: center;
    
}

.info-container:hover {
  box-shadow: 6px 6px 6px #24b5da;
}



.mini-logo-container {
  align-items: center;
  justify-content: center;
  align-items:center ;
  display: flex;
  flex-wrap: wrap;
  color: #24b5da;
}

.info-container h1{
  font-weight: bold;
  font-size: 3rem;
  margin: 0px;
  padding: 25px;
}

.info-container h3{
  font-size: 2rem;
  margin: 0px;
  padding: 15px;
}

.info-container p{
  font-size: 1rem;
  margin: 7.5px;
  padding: 7.5px;
  color: #eee;
}

.btn-1 {
    margin: 16px;
    padding: 7.5px;
    background-color: #24b5da;
    color: #fff;
    border-radius: 30px;
    text-transform: uppercase;
    padding: 5px 35px;
    text-transform: uppercase;
    font-size: 14px;
    box-shadow: inset 0 0 0 0 rgb(0, 0, 0);
    transition: ease-out 0.5s;
}

.btn-1:hover{
    box-shadow: inset 262px 0 0 0 rgb(251, 252, 251),
    6px 6px 6px #24b5da;
    cursor: pointer;
    color: black;
    font-weight: bold;
}

/*Account*/

.login-container {
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    background: #000000;
    color: #24b5da;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    width: 500px;
    height: 650px;
    perspective: 1000px;
    top: -60px;
    position: relative;
    box-shadow: 2px 2px 4px #283538,
    -2px -2px 4px #283538;
    border: 3px solid rgb(0, 60, 78);
    border-radius: 10%;
}

.card:hover {
    box-shadow: 6px 6px 6px #24b5da;
    border-radius: 10%;
}

.inner-box {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
    
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #283538;
    padding: 80px;
    box-sizing: border-box;
    backface-visibility: hidden;
    border-radius: 10%;
}

.card-front h2, .card-back h2{
    color: #eee;
} 

.card-back {
    transform: rotateY(180deg);
}

.card h2 {
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    margin-bottom: 25px;
    font-weight: bold;
}

.input-box {
    width: 100%;
    background: transparent;
    border: 3px solid #24b5da;
    margin: 20px 0;
    height: 32px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    text-align: center;
    color: #24b5da;
    font-weight: bold;
}

::placeholder {
    color: #ffffff;
    font-size: 12px;
}


.submit-btn {
    width: 240px;
    height: 25px;
    border: 3px solid #f5f5f5;
    color: white;
    background-color: #24b5da;
    border-radius: 20px;
    box-shadow: inset 0 0 0 0 rgb(0, 0, 0),
    2px 2px 4px #283538,
    -2px -2px 4px #283538;  ;
    transition: ease-out 0.5s;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    padding: 0 10px;
    margin: 35px 0 10px;
}

.submit-btn:hover {
    box-shadow: inset 262px 0 0 0 rgb(251, 252, 251),
    6px 6px 6px #24b5da;
    cursor: pointer;
    color: black;
    font-weight: bold;
}

.checkbox {
    margin-left: 35%;
}

span {
    font-size: 13px;
    margin-left: 10px;
    padding: 0;
    color: #fff;
}

.new-btn {
    width: 240px;
    height: 25px;
    border: 3px solid #f5f5f5;
    color: white;
    background-color: #24b5da;
    border-radius: 20px;
    box-shadow: inset 0 0 0 0 rgb(0, 0, 0);
    transition: ease-out 0.5s;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    padding: 0 10px;
    margin: 35px 50px 10px;
}

.new-btn:hover {
    box-shadow: inset 262px 0 0 0 rgb(251, 252, 251),
    6px 6px 6px #24b5da;
    cursor: pointer;
    color: black;
    font-weight: bold;
}

.card a {
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 13px;
    margin-top: 8px;
}

.profile-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: solid #24b5da 1px;
    position: relative;
    margin-left: 27%;
    top: -10%;

  }

  
  .popup{
    background: rgb(0, 0, 0);
    width:80%;
    height: 35%;
    position: absolute;
    top: 50px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 3px solid #24b5da;
}

.popup-content {
    height: 70%;
    width: 85%;
    background: #283538;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    border-radius: 25px;
    border: 3px solid #24b5da;
}

.popup-content p {
    color: #eee;
}

.close {
    position: absolute;
    top: -15px;
    right: -15px;
    height: 30px;
    width: 20px;
    border-radius: 50%;
    box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0.75);
    cursor: pointer;
}




/*contact*/

.form {
    padding: 2em;
    border-radius: 1rem;
    background: #283538;
    color: #fdfdfd;
    border: 3px solid #24b5da;
    width: 600px;
    box-shadow: 2px 2px 4px #283538,
    -2px -2px 4px #283538; 
}

.form:hover {
    box-shadow: 6px 6px 6px #24b5da;
}

.form h1 {
    font-size: 3rem;
    padding: 7.5px;
    margin: 7.5px;
}

.form p {
    color: #24b5da;
    padding: 7.5px;
    margin: 7.5px;
}

label,
::placeholder {
    color: #24b5da;
}

input {
    width: 95%;
    margin-top: 2px;
    padding: 10px;
    font-size: 16px;
}

.send {
    width: 240px;
    height: 25px;
    border: 3px solid #f5f5f5;
    color: white;
    background-color: #24b5da;
    border-radius: 20px;
    box-shadow: inset 0 0 0 0 rgb(0, 0, 0),
    2px 2px 4px #283538,
    -2px -2px 4px #283538;  
    transition: ease-out 0.5s;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    padding: 0 10px;
    margin: 35px 0 10px;
}

.send:hover {
    box-shadow: inset 262px 0 0 0 rgb(251, 252, 251),
    6px 6px 6px #24b5da;;
    cursor: pointer;
    color: black;
    font-weight: bold;
}

.home {
    width: 240px;
    height: 25px;
    border: 3px solid #f5f5f5;
    color: white;
    background-color: #24b5da;
    border-radius: 20px;
    box-shadow: inset 0 0 0 0 rgb(0, 0, 0),
    2px 2px 4px #283538,
    -2px -2px 4px #283538;  
    transition: ease-out 0.5s;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    padding: 0 10px;
    margin: 35px 0 10px;
}

.home:hover {
    box-shadow: inset 262px 0 0 0 rgb(251, 252, 251),
    6px 6px 6px #24b5da;;
    cursor: pointer;
    color: black;
    font-weight: bold;
}


label {
    display: block;
    margin-top: 1rem;
}

.error {
    display: none;
    color: rgb(255, 2, 2);
    font-size: 0.9rem;
    margin-top: 2px;
}






/*my account*/

.myprofile-img {
    box-sizing: border-box;
    width: 149px;
    height: 150px;
    border-radius: 50%;
    margin: 0;
    border: 5px solid #24b5da;
    padding: 3px;
    background-color: white;
}


.myprofile-container {
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    background: #000000;
    color: #24b5da;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
}


.myprofile {
    width: 500px;
    height: 650px;
    perspective: 1000px;
    top: -60px;
    position: relative;
    border: 3px solid #24b5da;
    border-radius: 10%;
    box-shadow: 2px 2px 4px #283538,
    -2px -2px 4px #283538; 

}

.myprofile:hover {
    box-shadow: 6px 6px 6px #24b5da;
}


.myprofile-content {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #283538;
    padding: 55px;
    box-sizing: border-box;
    backface-visibility: hidden;
    border-radius: 10%;
    text-align: center;
}



.myprofile h2 {
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"],
input[type="text"],
input[type="mail"] {
    display: block;
    box-sizing: border-box;
    background: none;
    color: #3498db;
    margin-bottom: 30px;
    padding: 4px;
    width: 100%;
    height: 32px;
    border: none;
    border-bottom: 1px solid #0082e6;
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
}

.update-btn {
    width: 240px;
    height: 25px;
    border: 3px solid #f5f5f5;
    color: white;
    background-color: #24b5da;
    border-radius: 20px;
    box-shadow: inset 0 0 0 0 rgb(0, 0, 0);
    transition: ease-out 0.5s;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    padding: 0 10px;
    margin: 35px 0 10px;
}

.update-btn:hover {
    box-shadow: inset 400px 0 0 0 rgb(251, 252, 251);
    cursor: pointer;
    color: black;
    font-weight: bold;
}


/* test */
.myprofile-history{
    width: 500px;
    height: 650px;
    perspective: 1000px;
    top: -60px;
    position: relative;
    border: 3px solid #24b5da;
    border-radius: 10%;
    box-shadow: 2px 2px 4px #283538,
    -2px -2px 4px #283538; 
    flex-direction: row;
}

.myprofile-content {
    
}



.history{
    flex-direction: row;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.bought {
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}






/*shopping cart */
.shopping-cart {
    padding: 2em;
    border-radius: 1rem;
    background: #283538;
    color: #24b5da;
    border: 3px solid #24b5da;
    width: 800px;
    box-shadow: 2px 2px 4px #283538,
    -2px -2px 4px #283538;
 }
 
 .popup-image {
     width: 200px;
     height: 250px;
     padding: 5px;
     margin: 25px 0px 25px 0px;
 }
 
 .item {
     padding: 0px;
     margin: 0px;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-around;
     
 }

 .shopping-cart  h2 {
    color: #ffffff;
}

 .items {
     text-align: center;
     color: #ffffff;
     padding: 50px;
 }
 
 .payment {
     height: 15px;
     width:600px;
     display: flex;
     justify-content: space-between;
     color: #eee;
 }
 
 
 .flex-button {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 25px;
     padding: 15px;
     margin: 10px;
 }
 
 .cta-small, .cta-white {
     height: 15px;
     width:150px;
     background-color: #24b5da;
     color: #fff;
     border-radius: 30px;
     text-transform: uppercase;
     padding: 5px 35px;
     text-transform: uppercase;
     border: 1px solid #0b3b59;
     font-size: 12px;
     font-family: "Montserrat", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
     text-align: center;
 }
 
 .cta-small:hover, .cta-white:hover {
     box-shadow: inset 262px 0 0 0 rgb(251, 252, 251),
     6px 6px 6px #24b5da;
     cursor: pointer;
     color: black;
     font-weight: bold;
 }
 

/*shopping cart done*/
.done {
    background-color: #283538;
    text-align: center;
    margin: 50px auto;
    border: 3px solid #24b5da;
    padding: 10px 15px;
    height: 350px;
    width: 600px;
    color: #24b5da;
}

.done h2 {
    margin: 15px auto;
}


.done p {
    text-align: left;
    margin: 35px auto;
    color: #ffffff;
}


.lolflexbutton {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.cta1, .cta2 {
    height: 15px;
    width:150px;
    background-color: #24b5da;
    color: #fff;
    border-radius: 30px;
    text-transform: uppercase;
    padding: 5px 35px;
    text-transform: uppercase;
    border: 1px solid #0b3b59;
    font-size: 12px;
    font-family: "Montserrat", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    text-align: center;
}

.cta1:hover, .cta2:hover {
    box-shadow: inset 262px 0 0 0 rgb(251, 252, 251),
    6px 6px 6px #24b5da;
    cursor: pointer;
    color: black;
    font-weight: bold;
}

































/* Footer */ 
footer {
    position: relative;
    width: 100%;
    min-height: 100px;
    padding: 20px, 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  }
  
  footer .social_icon,
  footer .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;

 

  }
  
  footer .social_icon li,
  footer .menu li{
    list-style: none;

  

  }
  
  footer .social_icon li a {
    font-size: 1em;
    color: #24b5da;
    margin: 0 10px;
    transition: 0.5s;
  }
  
  footer .social_icon li a:hover {
    transform: translateY(-10px);
    color: #ffffff;
    box-shadow: 6px 6px 6px #24b5da;

  }
  
  footer .menu li a {
    font-size: 1em;
    color: #24b5da;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
  }
  
  footer .menu li a:hover{
    opacity: 1;
    color: #ffffff;
    box-shadow: 6px 6px 6px #24b5da;
  }



/* loader */
#preloader {
    background: #000 url(../img/loading.gif) no-repeat center center;
    background-size: 30%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}


  /* links */
  a {
    text-decoration: none;
    color: #24b5da;
  }

a:hover {
    text-decoration: none;
    color: #ffffff;
}





/* media query */
@media screen and (max-width: 900px) {

    .btn1 {
        font-size: 110%;
        padding: 7px 15px;
    }
    header {
        padding: 10px 20px;
        flex-direction: column;
    }

    .banner {
        padding: 150px 20px 50px;
        flex-direction: column-reverse;
    }

    .movies {
        padding: 150px 20px 50px;
        flex-direction: column;
    }



    .profile-picture {
        visibility: none;
    }

  }






  /* media query */
  video {
      width: 900px;
      border: 1px solid #24b5da;
    
  }

  .watch h1 {
      color: #e6008e;
      text-align: center;
      padding-bottom: 50px;
  }